@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: var(--primary-color-100);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  margin: 1.5rem auto;
  width: 90%;

  .primary-btn {
    width: 4.875rem;

    .front {
      padding: 0.25em;
    }
  }
}

main {
  margin: 2rem auto;
  width: 90%;
}

.pagination {
  margin-top: 3rem;
}
