@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;500;600;700&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: var(--primary-color-100);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
