* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $primary-font;
  background: var(--primary-bg-color);
}

.wrapper {
  max-width: 1620px / 1920px * 100%;
  margin: 0 auto;
}

li { list-style: none; }

a { text-decoration: none; }

html.transition,
html.transition *,
html.transition *::before, 
html.transition *::after {
  transition: all .6s !important;
  transition-delay: 0 !important;
}
