button { cursor: pointer; }

.toggle-btn { width: 54px; }

.theme-toggle { display: none; }

.theme-label {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 190px;
  background: #{map-get($colors-neutral, 400)};
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: var(--primary-bg-color);
    box-shadow: 2px 4px 15px rgba(5,12,70,.15);
    transition: .4s ease-in-out;
  }

  &:hover::before {
    transform: translateX(2px);
    transition: .4s ease-in-out;
    background: #{map-get($colors-neutral, 300)};
    box-shadow: 2px 0 10px #9b9b9b;
  }
}

.theme-toggle:checked + .theme-label {
  box-shadow: inset 0 0 0 18px #4f4f4f;
  background: #{map-get($colors-neutral, 900)};

  &::before {
    left: calc(100% - 25px);
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    background: #{map-get($colors-neutral, 900)};
    transition: .4s ease-in-out;
  }

  &:hover::before {
    transform: translateX(-2px);
    transition: .4s ease-in-out;
    background: #{map-get($colors-neutral, 800)};
    box-shadow: -2px 0 10px #8d8d8d;
  }
}

.primary-btn {
  width: 245px;
  height: 55px;
  background: map-get($colors-neutral, "gradient");
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  color: #{map-get($colors-neutral, 100)};
  margin: 0 auto;
  padding: 18px 18px 16px;
}

.caption__btn { @extend %flex-between-center; }

.secondary-btn {
  @extend %flex-between-center;
  background: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 14px;
}

.with-icon {
  @extend %flex-between-center;
  padding: 18px 35px 16px;
}

.watch__btn { margin: 0; }

.secondary__watch-btn {
  color: #4bd8b5;
  margin-right: 5px;

  &::before {
    content: url("../../assets/icons/watch-icon-2.svg");
    margin-right: 2px;
  }
}

.secondary__donate-btn {
  color: #{map-get($colors-neutral, 100)};

  &::before {
    content: url("../../assets/icons/donate-icon.svg");
    margin-right: 2px;
  }
}

.contact__send {
  position: absolute;
  background: transparent;
  border: none;
  color: #{map-get($colors-neutral, 200)};
  font-size: 14px;
  font-weight: 500;
  margin: 20px 15px;
  right: 0;

  &::after {
    content: url("../../assets/images/send-right-arrow.svg");
    margin-left: 24px;
  }
}

.footer__btn {
  width: 279px;
  margin: 0;
  padding: 0;
}

.zoo__btn {
  width: 194px;
  margin-top: 35px;
}