button { cursor: pointer; }

.toggle-btn { width: 54px; }

.theme-toggle { display: none; }

.theme-label {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 190px;
  background: #f2f2f2;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: var(--primary-bg-color);
    box-shadow: 2px 4px 15px rgba(5,12,70,.15);
    transition: .4s ease-in-out;
  }

  &:hover::before {
    transform: translateX(2px);
    transition: .4s ease-in-out;
    background: #fcfcfc;
    box-shadow: 2px 0 10px #9b9b9b;
  }
}

.theme-toggle:checked + .theme-label {
  box-shadow: inset 0 0 0 18px #4f4f4f;
  background: #1b1b1b;

  &::before {
    left: calc(100% - 25px);
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    background: #1b1b1b;
    transition: .4s ease-in-out;
  }

  &:hover::before {
    transform: translateX(-2px);
    transition: .4s ease-in-out;
    background: #333333;
    box-shadow: -2px 0 10px #8d8d8d;
  }
}

.btn {
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border: none;
  border-radius: 3px;
}

.btn-text {
  @extend %flex-between-center;
  justify-content: center;
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
  font-style: normal;
  color: #ffffff;

  &::before {
    content: url("../../assets/icons/watch-icon.svg");
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }
}

.choose-btn-text {
  white-space: nowrap;
  padding: 17px;
  padding-top: 19px;
  font-size: 17px;
  &::before { content: none; }
}

.donate-btn-text::before { content: none; }

.contact__send {
  position: absolute;
  background: transparent;
  border: none;
  color: #fefefe;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 15px;
  right: 0;

  &::after {
    content: url("../../assets/images/right-arrow.svg");
    margin-left: 24px;
  }
}

.footer-btn { width: 279px; }
