.watch__carousel {
  position: absolute;
  @extend %flex-between-center;
  width: 80%;
  top: 406px;
  right: 0;
  left: 975px;
  z-index: 0;

  &::after {
    position: absolute;
    content: url("../../assets/images/h-line.svg");
    left: -9%;
    width: 100%;
    z-index: -1;
  }
}

.carousel__slide {
  display: table;
  text-align: center;

  img {
    max-width: 140px;
    width: 100%;
  }

  figcaption {
    position: absolute;
    opacity: 0;
  }
}

.carousel__slide_active {
  position: relative;
  padding-bottom: 20px;

  img {
    max-width: 245px;
  }

  &::before {
    position: absolute;
    bottom: -20px;
    left: -10px;
    content: "0" attr(data-number) "/";
    width: 100%;
    color: #fefefe;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
  }

  &::after {
    cursor: pointer;
    position: absolute;
    display: block;
    bottom: -42.5px;
    left: calc(245px / 8);
    content: "";
    height: 10px;
    max-width: calc(245px / 8);
    width: 100%;
    background: #fefefe;
  }
}

.carousel__slide_active figcaption {
  opacity: 1;
  bottom: 20px;
  display: block;

  p {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 0 28px 5px 23px;
  }

  &::before {
    position: absolute;
    left: 17px;
    bottom: -38px;
    text-align: center;
    content: "08";
    width: 100%;
    color: #828282;
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
  }

  &::after {
    cursor: pointer;
    display: block;
    position: absolute;
    bottom: -60px;
    content: "";
    height: 5px;
    background: rgba(189,189,189,.57);
    width: 100%;
  }
}

.caption__btn {
  @extend %flex-between-center;
  margin-bottom: 30px;
}

.watch__btn-text_caption {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #4bd8b5;
  margin-left: 18px;

  &::before {
    content: url("../../assets/icons/watch-icon-2.svg");
    transform: scale(.75);
    margin-right: 0;
  }
}

.donate__btn-text_caption {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 28px;
  
  &::before {
    content: url("../../assets/icons/donate-icon.svg");
    margin-top: 8px;
    margin-right: 0;
  }
}
