.watch__carousel {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: clamp(9px, 30 / 640 * 100vw, 30px);
  place-items: center;
  top: clamp(365px, 408 / 640 * 100vw, 432px);
  left: 975px / 1920px * 100vw;
  z-index: 0;

  @media (min-width: 1920px) {
    top: 406px;
    gap: 46px;
  }

  @media (max-width: 1199px) { left: clamp(122px, 30vw, 900px); }
  
  @media (max-width: 640px) { left: calc(max(24px, 122 / 640 * 100vw)); }
  
  @media (max-width: 320px) {
    left: 24px;
    gap: 9px;
  }

  &::after {
    position: absolute;
    content: url("../assets/images/h-line.svg");
    left: -135px;
    width: 100%;
    z-index: -1;

    @media (max-width: 640px) { left: calc(min(-21px, -71 / 640 * 100vw)); }

    @media(max-width: 320px) {
      left: -21px;
      bottom: calc(50% + 5px);
    }
  }
}

.pagination {
  width: 100%;
  max-width: 245px;
  text-align: center;
  margin: clamp(20px, 30 / 640 * 100vw, 30px) auto;
}

.watch__pagination {
  position: absolute;
  max-width: calc(min(140 / 320 * 100vw, 245px));
  bottom: clamp(-75px, -75 / 640 * 100vw, -55px);
  left: clamp(131px, 210 / 640 * 100vw, 210px);

  @media (min-width: 1920px) { left: calc(10vw - 8px); }

  @media (max-width: 320px) { left: 122px; }

  .page { color: #{map-get($colors-neutral, 200)}; }
}

.page {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 900;
}

.all-pages {
  color: #{map-get($colors-neutral, 700)};
  font-size: 14px;
  font-weight: 900;
}

.input-range {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 5px;
  background: rgba(189, 189, 189, .57);
  outline: none;
  cursor: pointer;
  margin-top: 10px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    max-width: calc(245px / 8);
    width: 100%;
    height: 10px;
    background: var(--primary-text-color);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    max-width: calc(245px / 8);
    width: 100%;
    height: 10px;
    background: var(--primary-text-color);
    cursor: pointer;
    border-radius: 0;
  }
}

.watch__carousel-range {
  &::-webkit-slider-thumb {
    max-width: calc(min(140 / 320 * 100vw, 245px) / 8);
    background: #{map-get($colors-neutral, 200)};
  }
  &::-moz-range-thumb {
    background: #{map-get($colors-neutral, 200)};
    max-width: calc(min(140 / 320 * 100vw, 245px) / 8);
  }
}

.carousel__slide {
  width: clamp(113px, 180 / 640 * 100vw, 180px);
  
  @media (min-width: 1920px) {
    width: 140px;
  }

  img { width: 100%; }

  figcaption {
    position: absolute;
    opacity: 0;
    bottom: 20px;
    display: block;
    padding: 0 calc(min(11 / 320 * 100vw, 21px))
               calc(min(17 / 320 * 100vw, 34px));

    @media (max-width: 320px) { padding: 0 8px 11px; }
    
    .paragraph {
      max-width: calc(min(128 / 320 * 100vw, 194px));
      color: #{map-get($colors-neutral, 100)};
      font-size: calc(min(12 / 320 * 100vw, 14px));
    }
  }

  img:hover { cursor: pointer; }
}

.carousel__slide_active {
  position: relative;
  width: calc(min(140 / 320 * 100vw, 245px));
  padding-bottom: 20px;
}

.carousel__slide_active figcaption { opacity: 1; }

.how__carousel-slides {
  @extend %flex-between-center;
  overflow: hidden;
}

.how__carousel-slide img {
    max-width: clamp(600px, 746 / 1200 * 100vw, 790px);
    height: 323px;
    object-fit: cover;
    object-position: center left;
}

.how__carousel-range {
  &::-webkit-slider-thumb { max-width: (245px / 4); }
  &::-moz-range-thumb { max-width: (245px / 4); }
}

.pets__carousel {
  @extend %flex-between-center;
  margin-top: 35px;
  gap: 15px;
}

.pets__carousel-slides {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: calc(max(20px, 30 / 1920 * 100vw));
  place-items: center;
  overflow: hidden;

  @media (max-width: 640px) { gap: calc(max(16px, 20 / 640 * 100vw)); }
}

.pets__carousel-slide {
  position: relative;
  width: calc(max(210px, 278 / 1920 * 100vw));

  &::after {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: calc(100% - 5px);
    border-radius: 5px;
    transition: background 1s ease-out .1s;
  }

  figcaption {
    z-index: 1;
    bottom: -110px;
    transition: all 1s ease-out .1s;
  }

  &:hover {
    figcaption {
      opacity: 1;
      bottom: 0;
    }

    &::after { background: rgba(black, .5); }
  }
}

:is(.prev-btn-svg, .next-btn-svg):hover {
  cursor: pointer;
  path { fill: var(--primary-text-color); }
}

@media (max-width: 640px) {
  :is(.prev-btn-svg, .next-btn-svg) { display: none; }
}

.pets__pagination {
  margin-bottom: 48px;

  &::before {
    max-width: calc(245px / 8);
    bottom: -17.5px;
  }
  &::after { bottom: -15px; }
}

.testimonials__carousel {
  @extend %flex-between-center;
  margin-top: calc(min(50px, 35 / 640 * 100vw));

  @media (max-width: 640px) { margin-top: calc(min(35px, 25 / 320 * 100vw)); }
}

.testimonials__carousel-slides {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  overflow: hidden;
  width: 100%;
}

.testimonials__carousel-slide {
  margin: 11px 17px 19px 13px;
  flex: 0 1 calc((641px - 100vw) * 999);
  width: clamp(440px, 585 / 1920 * 100vw, 585px);

  @media (max-width: 1199px) { width: calc(min(585px, 300 / 320 * 100vw)); }
  
  @media (max-width: 639px) { margin-left: 0; }
}

.testimonials__carousel-slide-wrapper {
  text-align: center;
  height: 310px;
  box-shadow: 2px 4px 15px rgba(6,12,70,.1);
  border-radius: 5px;

  @media (max-width: 320px) { height: 363px; }

  img { margin-top: 47px; }

  .caption__title {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: clamp(16px, 20 / 640 * 100vw, 20px);

    @media (max-width: 639px) { margin-top: calc(max(40px, 20 / 640 * 100vw)); }
  }

  .paragraph {
    margin: 17px 72px 0 72px;

    @media (max-width: 639px) { margin: 17px 5px; }
  }
}

.testimonials__pagination {
  &::before {
    max-width: calc(245px / 8);
    left: calc(50% - 245px / (2 + 0.65));
    bottom: -22.5px;
  }
  &::after { bottom: -20px; }
}

.zoo__sidebar-carousel {
  @extend %flex-between-center;
  flex-direction: column;

  &-slides {
    @extend %flex-between-center;
    flex-direction: column;
    width: 100%;
    height: 515px;
    overflow: hidden;
    margin: 20px auto;
  }

  &-slide {
    img { width: 108px; }
    margin: 4px 0;

    &_active {
      position: relative;
      margin: 4px -20px;

      img {
        width: 137px + 14px;
        border: 7px solid var(--tertiary-bg-color);
        border-radius: 100%;
      }

      &::before {
        position: absolute;
        top: -3px;
        left: -3px;
        content: "";
        background: linear-gradient(106.89deg,#07eee0, #df496d);
        border-radius: 100%;
        width: 137px + 14px + 6px;
        height: 137px + 14px + 6px;
        z-index: -1;
      }
    }
  }
}

.map__carousel {
  position: sticky;
  flex-direction: row;

  &-slides {
    flex-direction: row;
    margin: 0 31px;
    padding: 3px;
    height: auto;
  }
}