.watch__carousel {
  position: absolute;
  top: clamp(365px, 408 / 640 * 100vw, 432px);
  left: 975px / 1920px * 100vw;
  z-index: 0;

  @media (min-width: 1920px) { top: 406px; }

  @media (max-width: 1199px) { left: clamp(122px, 30vw, 900px); }
  
  @media (max-width: 640px) { left: calc(max(24px, 122 / 640 * 100vw)); }
  
  @media (max-width: 320px) { left: 24px; }

  &::after {
    position: absolute;
    content: url("../assets/images/h-line-1920.svg");
    left: -135px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;

    @media (max-width: 1200px) { content: url("../assets/images/h-line-1200.svg"); }

    @media (max-width: 640px) {
      content: url("../assets/images/h-line-640.svg");
      left: calc(min(-21px, -71 / 640 * 100vw));
    }

    @media(max-width: 320px) {
      content: url("../assets/images/h-line-320.svg");
      left: -21px;
    }
  }
}

.carousel__container { overflow: hidden; }

.carousel__slides {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: clamp(9px, 30 / 640 * 100vw, 30px);
  place-items: center;
  transition: transform .5s;

  @media (min-width: 1920px) { gap: 46px; }
  @media (max-width: 320px) { gap: 9px; }
}

.pagination {
  width: 100%;
  max-width: 245px;
  text-align: center;
  margin: clamp(20px, 30 / 640 * 100vw, 30px) auto;
}

.watch__pagination {
  position: absolute;
  max-width: calc(min(140 / 320 * 100vw, 245px));
  bottom: clamp(-75px, -75 / 640 * 100vw, -55px);
  left: clamp(131px, 210 / 640 * 100vw, 210px);

  @media (min-width: 1920px) { left: calc(10vw - 8px); }

  @media (max-width: 320px) { left: 122px; }

  .page { color: #{map-get($colors-neutral, 200)}; }
}

.page {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 900;
}

.all-pages {
  color: #{map-get($colors-neutral, 700)};
  font-size: 14px;
  font-weight: 900;
}

.input-range {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 5px;
  background: rgba(189, 189, 189, .57);
  outline: none;
  cursor: pointer;
  margin-top: 10px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    max-width: calc(245px / 8);
    width: 100%;
    height: 10px;
    background: var(--primary-text-color);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    max-width: calc(245px / 8);
    width: 100%;
    height: 10px;
    background: var(--primary-text-color);
    cursor: pointer;
    border-radius: 0;
  }
}

.watch__carousel-range {
  &::-webkit-slider-thumb {
    max-width: calc(min(140 / 320 * 100vw, 245px) / 8);
    background: #{map-get($colors-neutral, 200)};
  }
  &::-moz-range-thumb {
    background: #{map-get($colors-neutral, 200)};
    max-width: calc(min(140 / 320 * 100vw, 245px) / 8);
  }
}

.carousel__slide {
  width: clamp(113px, 180 / 640 * 100vw, 180px);
  
  @media (min-width: 1920px) { width: 140px; }

  img { width: 100%; }
  img:hover { cursor: pointer; }

  figcaption {
    position: absolute;
    bottom: 20px;
    display: none;
    padding: 0 calc(min(11 / 320 * 100vw, 21px))
               calc(min(17 / 320 * 100vw, 34px));

    @media (max-width: 320px) { padding: 0 8px 11px; }
    
    .paragraph {
      max-width: calc(min(128 / 320 * 100vw, 194px));
      color: #{map-get($colors-neutral, 100)};
      font-size: calc(min(12 / 320 * 100vw, 14px));
    }
  }
}

.carousel__slide_active {
  position: relative;
  width: calc(min(140 / 320 * 100vw, 245px));
  padding-bottom: 20px;
  figcaption { display: block; }
}


.how__carousel-slides {
  @extend %flex-between-center;
  overflow: hidden;
}

.how__carousel-slide img {
    max-width: clamp(600px, 746 / 1200 * 100vw, 790px);
    height: 323px;
    object-fit: cover;
    object-position: center left;
}

.how__carousel-range {
  &::-webkit-slider-thumb { max-width: (245px / 4); }
  &::-moz-range-thumb { max-width: (245px / 4); }
}

.pets__carousel {
  @extend %flex-between-center;
  margin-top: 35px;
  gap: 15px;
}

.pets__carousel-slides {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: calc(max(20px, 30 / 1920 * 100vw));
  place-items: center;
  overflow: hidden;

  @media (max-width: 640px) { gap: calc(max(16px, 20 / 640 * 100vw)); }
}

.pets__carousel-slide {
  position: relative;
  width: calc(max(210px, 278 / 1920 * 100vw));

  &::after {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: calc(100% - 5px);
    border-radius: 5px;
    transition: background 1s ease-out .1s;
  }

  figcaption {
    display: block;
    opacity: 0;
    z-index: 1;
    bottom: -110px;
    transition: all 1s ease-out .1s;
  }

  &:hover {
    figcaption {
      opacity: 1;
      bottom: 0;
    }

    &::after { background: rgba(black, .5); }
  }
}

:is(.prev-btn-svg, .next-btn-svg):hover {
  cursor: pointer;
  path { fill: var(--primary-text-color); }
}

@media (max-width: 640px) {
  :is(.prev-btn-svg, .next-btn-svg) { display: none; }
}

.pets__pagination {
  margin-bottom: 48px;

  &::before {
    max-width: calc(245px / 8);
    bottom: -17.5px;
  }
  &::after { bottom: -15px; }
}

.testimonials__carousel {
  @extend %flex-between-center;
  margin-top: calc(min(50px, 35 / 640 * 100vw));

  @media (max-width: 640px) { margin-top: calc(min(35px, 25 / 320 * 100vw)); }
}

.testimonials__carousel-slides {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  overflow: hidden;
  width: 100%;
}

.testimonials__carousel-slide {
  margin: 11px 17px 19px 13px;
  flex: 0 1 calc((641px - 100vw) * 999);
  width: clamp(440px, 585 / 1920 * 100vw, 585px);

  @media (max-width: 1199px) { width: calc(min(585px, 300 / 320 * 100vw)); }
  
  @media (max-width: 639px) { margin-left: 0; }
}

.testimonials__carousel-slide-wrapper {
  text-align: center;
  height: 310px;
  box-shadow: 2px 4px 15px rgba(6,12,70,.1);
  border-radius: 5px;

  @media (max-width: 320px) { height: 363px; }

  img { margin-top: 47px; }

  .caption__title {
    text-transform: capitalize;
    margin-top: 10px;
    font-size: clamp(16px, 20 / 640 * 100vw, 20px);

    @media (max-width: 639px) { margin-top: calc(max(40px, 20 / 640 * 100vw)); }
  }

  .paragraph {
    margin: 17px 72px 0 72px;

    @media (max-width: 639px) { margin: 17px 5px; }
  }
}

.testimonials__pagination {
  &::before {
    max-width: calc(245px / 8);
    left: calc(50% - 245px / (2 + 0.65));
    bottom: -22.5px;
  }
  &::after { bottom: -20px; }
}

.zoo__sidebar-carousel {
  @extend %flex-between-center;
  flex-direction: column;

  &-slides {
    @extend %flex-between-center;
    flex-direction: column;
    width: 100%;
    height: clamp(330px, 438 / 1200 * 100vw, 515px);
    overflow: hidden;
    margin: clamp(5px, 10 / 640 * 100vw, 10px) auto;
    gap: clamp(5px, 7 / 640 * 100vw, 7px) 27px;

    @media (max-width: 639px) {
      height: clamp(200px, 200 / 320 * 100vw, 330px);
      gap: clamp(2px, 2 / 320 * 100vw, 5px) 27px;
    }
  }

  &-slide {
    img { width: clamp(60px, 60 / 320 * 100vw, 108px); }

    &_active {
      position: relative;
      margin: 4px -20px;

      img {
        width: clamp(79px, 79 / 320 * 100vw, 151px);
        border: clamp(3.5px, 3.5 / 320 * 100vw, 7px) solid var(--tertiary-bg-color);
        border-radius: 100%;
      }

      &::before {
        position: absolute;
        top: -3px;
        left: -3px;
        content: "";
        background: linear-gradient(106.89deg,#07eee0, #df496d);
        border-radius: 100%;
        width: clamp(85px, 85 / 320 * 100vw, 157px);
        height: clamp(85px, 85 / 320 * 100vw, 157px);
        z-index: -1;
      }
    }
  }
}

.zoo-pages__sidebar-carousel-slides {

  .zoo__sidebar-carousel-slide {
    img {
      width: clamp(70px, 96 / 1200 * 100vw, 108px);
      @media (max-width: 639px) { width: clamp(40px, 40 / 320 * 100vw, 70px); }
    }

    &_active {
      img {
        width: clamp(78px, 104 / 1200 * 100vw, 151px);
        border: clamp(3.5px, 5 / 1200 * 100vw, 7px) solid var(--tertiary-bg-color);
        border-radius: 100%;

        @media (max-width: 639px) { width: clamp(55px, 55 / 320 * 100vw, 78px); }
      }

      &::before {
        width: clamp(84px, 110 / 1200 * 100vw, 157px);
        height: clamp(84px, 110 / 1200 * 100vw, 157px);

        @media (max-width: 639px) {
          width: clamp(61px, 61 / 320 * 100vw, 84px);
          height: clamp(61px, 61 / 320 * 100vw, 84px);
        }
      }
    }
  }
}

.map-prev-btn-svg,
.map-next-btn-svg {
  display: block;
}

.map__carousel {
  position: sticky;
  flex-direction: row;
  max-width: clamp(600px, 800 / 1200 * 100vw, 1200px);
  margin: 0 auto;

  @media (max-width: 639px) { width: clamp(280px, 280 / 320 * 100vw, 600px); }

  &-slides {
    flex-direction: row;
    margin: 0 auto;
    padding: 3px;
    width: clamp(515px, 660 / 1200 * 100vw, 1073px);
    height: auto;

    @media (max-width: 639px) { width: clamp(225px, 225 / 320 * 100vw, 515px); }
  }
}