.header-wrapper {
  max-width: 1620px;
  @extend %flex-between-center;
  background-color: var(--primary-bg-color);
  margin: 0 auto;
}

.logo {
  width: 60px;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--primary-bg-color);
    width: 100vw;
    height: 26px;
    z-index: 1;
    left: 0;
    top: 0;
  }

  &__title {
    position: relative;
    text-transform: lowercase;
    color: var(--primary-text-color);
    font-size: 36px;
    font-weight: 900;
    width: 99%;
    margin-top: -70px;
  
    &::after {
      position: absolute;
      content: "Online";
      font-size: 18px;
      letter-spacing: 1.6px;
      bottom: -13px;
      left: 0;
    }
  }
}

.navbar { width: 35%; }

.nav-links {
  @extend %flex-between-center;
  margin: 40px 0;
  padding: 0;

  &__item { font-weight: 500; }

  &__link {
    color: var(--primary-text-color);
    font-size: 16px;

    &:hover {
      box-shadow: 0 2px var(--primary-text-color);
      font-weight: 900;
      transition: .2s ease-in-out;
    }

    &_active {
      pointer-events: none;
      cursor: default;
      padding-left: 1px;
      padding-right: 5%;
      box-shadow: 0 2px var(--primary-text-color);
      font-weight: 900;
    }
  }
}

.zoo__header {
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
