header {
  position: fixed;
  width: 100vw;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
  background-color: var(--primary-bg-color);
  z-index: 1;

  @media (min-width: 1200px) { position: initial; }
}

.header-wrapper {
  @extend %flex-between-center;
  margin: 0 auto;
  padding-right: calc(min(20 / 640 * 100vw, 150px));
  padding-left: calc(min(20 / 640 * 100vw, 150px));
  height: 94px;
  
  @media (min-width: 1920px) { max-width: 1620px; }
}

.logo {
  width: 60px;
  margin-top: 5px;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--primary-bg-color);
    width: 100vw;
    height: 20px;
    z-index: 1;
    left: 0;
    top: 0;
  }

  &__title {
    position: relative;
    text-transform: lowercase;
    color: var(--primary-text-color);
    font-size: 36px;
    font-weight: 900;
    width: 99%;
    margin-top: -70px;
  
    &::after {
      position: absolute;
      content: "Online";
      font-size: 18px;
      letter-spacing: 1.6px;
      bottom: -13px;
      left: 0;
    }
  }
}

.navbar {
  width: calc(min(570px, 65%));
  
  @media (max-width: 640px) { display: none; }
}

.nav-links {
  @extend %flex-between-center;

  &__item { font-weight: 500; }

  &__link {
    color: var(--primary-text-color);
    font-size: 16px;

    &:hover {
      box-shadow: 0 2px var(--primary-text-color);
      font-weight: 900;
      transition: .2s ease-in-out;
    }

    &_active {
      pointer-events: none;
      cursor: default;
      padding-left: 1px;
      padding-right: 5%;
      box-shadow: 0 2px var(--primary-text-color);
      font-weight: 900;
    }
  }
}

.btn-burger-container {
  @extend %flex-between-center;

  @media (max-width: 640px) { width: clamp(118px, 21.333%, 128px); }
}

.burger {
  display: none;

  @media (max-width: 640px) { display: block; }
}

.burger__line {
  background: var(--primary-text-color);
  width: 40px;
  height: 3px;
  
  & + & { margin-top: 6px; }
}

.burger__line-3 {
  width: 33px;
  margin-left: 7px;
}
