.watch {
  position: relative;
  background: url("../../assets/images/main-bg.png") no-repeat center;
  background-size: cover;
  min-height: 940px;
  overflow-x: hidden;
}

.watch-wrapper {
  max-width: 1620px;
  display: grid;
  grid-template-columns: minmax(210px, 12%) 1fr;
}

.watch__nav-links {
  position: absolute;
  bottom: 110px;
  flex-direction: column;
  margin: 0;
  height: 110px;
}

.watch__title {
  margin: 105px 0 37px;
  color: #fefefe;
  font-weight: 900;
  font-size: 5.563rem;
  line-height: 104.3px;
  max-width: 793px;
}

.paragraph {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
}

.how-wrapper {
  max-width: 790px;
  text-align: center;
}

.section__title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 48px;
  line-height: 56.25px;
  text-align: center;
}

.caption__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-text-color);
  text-align: center;
}

.how__title { text-align: left; }

.how_paragraph {
  margin: 30px auto;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.4px;
  text-align: left;
}

.how__footer { background: var(--secondary-bg-color); }

.how__footer-wrapper {
  @extend %flex-between-center;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  padding: 100px 0;
}

.how__footer-info {
  flex: 0 1 380px;
  text-align: center;
}

.how__footer-caption .caption__title { margin: 15px 0; }

.pets-wrapper {
  max-width: 1300px;
  text-align: center;
}

.pay { background: var(--secondary-bg-color); }

.pay-wrapper {
  padding: 100px 0;
  text-align: center;

  .paragraph {
    text-align: center;
    margin-top: 30px;
  }
}

.pay__scheme {
  @extend %flex-between-center;
  flex-wrap: wrap;
  width: 100%;
  margin: 92px 0 60px;
}

.pay__info {
  position: relative;
  flex: 0 1 245px;
}

.pay__info-caption {
  position: absolute;
  bottom: 60px;
  left: 55px;
  max-width: 135px;
}
