@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$primary-font: 'Roboto', sans-serif;

$colors: (
  "light-theme": (
    100: #ffffff,
    200: #fbfbfb,
    300: #fefefe,
    400: #f2f2f2,
    500: #4f4f4f,
    600: #333333
  ),
  "dark-theme": (
    100: #fefefe,
    200: #f2f2f2,
    300: #4f4f4f,
    400: #3c3c3c,
    500: #333333
  ),
  "neutral": (
    100: #ffffff,
    200: #fefefe,
    300: #fcfcfc,
    400: #f2f2f2,
    500: #e0e0e0,
    600: #bdbdbd,
    700: #828282,
    800: #333333,
    900: #1b1b1b,
    "gradient": linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
  )
);

$colors-light-theme: map-get($colors, "light-theme");
$colors-dark-theme: map-get($colors, "dark-theme");
$colors-neutral: map-get($colors, "neutral");

html[data-theme='light'] {
  --primary-text-color: #{map-get($colors-light-theme, 600)};
  --secondary-text-color: #{map-get($colors-light-theme, 500)};
  --primary-bg-color: #{map-get($colors-light-theme, 100)};
  --secondary-bg-color: #{map-get($colors-light-theme, 400)};
  --card-bg-color: #{map-get($colors-light-theme, 300)};
  --tertiary-bg-color: #{map-get($colors-light-theme, 200)};
}

html[data-theme='dark'] {
  --primary-text-color: #{map-get($colors-dark-theme, 100)};
  --secondary-text-color: #{map-get($colors-dark-theme, 200)};
  --primary-bg-color: #{map-get($colors-dark-theme, 500)};
  --secondary-bg-color: #{map-get($colors-dark-theme, 300)};
  --card-bg-color: #{map-get($colors-dark-theme, 400)};
  --tertiary-bg-color: #{map-get($colors-dark-theme, 300)};
}

$marker-positions:
  (
    top: clamp(213px, 270 / 1200 * 100vw, 290px),
    left: clamp(39px, 83 / 1200 * 100vw, 121px)
  ),
  (
    top: clamp(222px, 283 / 1200 * 100vw, 318px),
    left: clamp(103px, 175 / 1200 * 100vw, 243px)
  ),
  (
    top: clamp(275px, 370 / 1200 * 100vw, 405px),
    left: clamp(268px, 420 / 1200 * 100vw, 572px)
  ),
  (
    top: clamp(218px, 284 / 1200 * 100vw, 306px),
    left: clamp(427px, 656 / 1200 * 100vw, 893px)
  );


$marker-positions-639:
  (
    top: clamp(124px, 213 / 640 * 100vw, 213px),
    left: clamp(25px, 39 / 640 * 100vw, 39px)
  ),
  (
    top: clamp(132px, 222 / 640 * 100vw, 222px),
    left: clamp(51px, 103 / 640 * 100vw, 103px)
  ),
  (
    top: clamp(158px, 275 / 640 * 100vw, 275px),
    left: clamp(134px, 268 / 640 * 100vw, 268px)
  ),
  (
    top: clamp(130px, 218 / 640 * 100vw, 218px),
    left: clamp(216px, 427 / 640 * 100vw, 427px)
  );