@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$primary-font: 'Roboto', sans-serif;

$colors: (
  "light-theme": (
    100: #ffffff,
    200: #fbfbfb,
    300: #fefefe,
    400: #f2f2f2,
    500: #4f4f4f,
    600: #333333
  ),
  "dark-theme": (
    100: #fefefe,
    200: #f2f2f2,
    300: #4f4f4f,
    400: #3c3c3c,
    500: #333333
  ),
  "neutral": (
    100: #ffffff,
    200: #fefefe,
    300: #fcfcfc,
    400: #f2f2f2,
    500: #e0e0e0,
    600: #bdbdbd,
    700: #828282,
    800: #333333,
    900: #1b1b1b,
    "gradient": linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%)
  )
);

$colors-light-theme: map-get($colors, "light-theme");
$colors-dark-theme: map-get($colors, "dark-theme");
$colors-neutral: map-get($colors, "neutral");

html[data-theme='light'] {
  --primary-text-color: #{map-get($colors-light-theme, 600)};
  --secondary-text-color: #{map-get($colors-light-theme, 500)};
  --primary-bg-color: #{map-get($colors-light-theme, 100)};
  --secondary-bg-color: #{map-get($colors-light-theme, 400)};
  --card-bg-color: #{map-get($colors-light-theme, 300)};
  --tertiary-bg-color: #{map-get($colors-light-theme, 200)};
}

html[data-theme='dark'] {
  --primary-text-color: #{map-get($colors-dark-theme, 100)};
  --secondary-text-color: #{map-get($colors-dark-theme, 200)};
  --primary-bg-color: #{map-get($colors-dark-theme, 500)};
  --secondary-bg-color: #{map-get($colors-dark-theme, 300)};
  --card-bg-color: #{map-get($colors-dark-theme, 400)};
  --tertiary-bg-color: #{map-get($colors-dark-theme, 300)};
}

$marker-positions:
  (
    bottom: clamp(189px, 288 / 1200 * 100vw, 330px),
    left: clamp(39 / 600 * 100%, 85 / 900 * 100%, 121 / 1200 * 100%)
  ),
  (
    bottom: clamp(180px, 275 / 1200 * 100vw, 302px),
    left: clamp(103 / 600 * 100%, 178 / 900 * 100%, 243 / 1200 * 100%)
  ),
  (
    bottom: clamp(127px, 188 / 1200 * 100vw, 215px),
    left: clamp(268 / 600 * 100%, 423 / 900 * 100%, 572 / 1200 * 100%)
  ),
  (
    bottom: clamp(184px, 274 / 1200 * 100vw, 314px),
    left: clamp(427 / 600 * 100%, 660 / 900 * 100%, 893 / 1200 * 100%)
  );


$marker-positions-640:
  (
    bottom: clamp(97px, 189 / 640 * 100vw, 189px),
    left: clamp(25px, 39 / 640 * 100vw, 39px)
  ),
  (
    bottom: clamp(88px, 180 / 640 * 100vw, 180px),
    left: clamp(51px, 103 / 640 * 100vw, 103px)
  ),
  (
    bottom: clamp(63px, 127 / 640 * 100vw, 127px),
    left: clamp(134px, 268 / 640 * 100vw, 268px)
  ),
  (
    bottom: clamp(91px, 184 / 640 * 100vw, 184px),
    left: clamp(216px, 427 / 640 * 100vw, 427px)
  );