.winners-table {
  margin-top: 1rem;
  // width: 50%;
  table-layout: fixed;

  td,
  th {
    padding: 0.5rem;
  }

  th {
    padding: 0.75rem 0.5rem;
    background-color: var(--primary-color-200);
    color: var(--primary-color-500);
    text-align: left;
  }

  tbody {
    font-weight: 500;
  }
}

.winners-table__wins,
.winners-table__time {
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-40%) scale(1.5);
    content: url('../../assets/images/sort.svg');
  }
}

.winners-table__wins {
  width: 5rem;
}

.winners-table__time {
  width: 12rem;
}
