.header-wrapper {
  @extend %flex-between-center;
  padding-top: 20px;
}

header {
  background: url("../assets/header-img.png") no-repeat center;
  background-size: cover;
  height: 779px;
}

.logo {
  width: 220px;
  a {
    @extend %flex-between-center;
    color: $white-color;
    text-decoration: none;
  }
}

h1 {
  @extend %logo-h1;
}
