@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$orange-color: #cd6326;
$white-color: #f7f7f7;
$dark-color: #333333;
$gray-color: #666666;
$roboto-font: 'Roboto', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;
