@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
html[data-theme='light'] {
  --primary-text-color: #333333;
  --secondary-text-color: #4f4f4f;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f2f2f2;
}

html[data-theme='dark'] {
  --primary-text-color: #fefefe;
  --secondary-text-color: #f2f2f2;
  --primary-bg-color: #333333;
  --secondary-bg-color: #4f4f4f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--primary-bg-color);
}

.wrapper {
  max-width: 1200px;
  margin: 100px auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  -webkit-transition: all .6s !important;
  transition: all .6s !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.header-wrapper, .nav-links, .btn-text, .how__footer-wrapper, .watch__carousel, .caption__btn, .how__carousel-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper {
  max-width: 1620px;
  background-color: var(--primary-bg-color);
  margin: 0 auto;
}

.logo {
  width: 60px;
}

.logo::before {
  content: "";
  position: absolute;
  background-color: var(--primary-bg-color);
  width: 100vw;
  height: 26px;
  z-index: 1;
  left: 0;
  top: 0;
}

.logo__title {
  position: relative;
  text-transform: lowercase;
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 900;
  width: 99%;
  margin-top: -70px;
}

.logo__title::after {
  position: absolute;
  content: "Online";
  font-size: 18px;
  letter-spacing: 1.6px;
  bottom: -13px;
  left: 0;
}

.navbar {
  width: 35%;
}

.nav-links {
  margin: 40px 0;
  padding: 0;
}

.nav-links__item {
  font-weight: 500;
}

.nav-links__link {
  color: var(--primary-text-color);
  font-size: 16px;
}

.nav-links__link:hover {
  -webkit-box-shadow: 0 2px var(--primary-text-color);
          box-shadow: 0 2px var(--primary-text-color);
  font-weight: 900;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav-links__link_active {
  pointer-events: none;
  cursor: default;
  padding-left: 1px;
  padding-right: 4px;
  -webkit-box-shadow: 0 2px var(--primary-text-color);
          box-shadow: 0 2px var(--primary-text-color);
  font-weight: 900;
}

button {
  cursor: pointer;
}

.toggle-btn {
  width: 54px;
}

.theme-toggle {
  display: none;
}

.theme-label {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 190px;
  background: #f2f2f2;
  cursor: pointer;
}

.theme-label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--primary-bg-color);
  -webkit-box-shadow: 2px 4px 15px rgba(5, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(5, 12, 70, 0.15);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.theme-label:hover::before {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background: #fcfcfc;
  -webkit-box-shadow: 2px 0 10px #9b9b9b;
          box-shadow: 2px 0 10px #9b9b9b;
}

.theme-toggle:checked + .theme-label {
  -webkit-box-shadow: inset 0 0 0 18px #4f4f4f;
          box-shadow: inset 0 0 0 18px #4f4f4f;
  background: #1b1b1b;
}

.theme-toggle:checked + .theme-label::before {
  left: calc(100% - 25px);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background: #1b1b1b;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.theme-toggle:checked + .theme-label:hover::before {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background: #333333;
  -webkit-box-shadow: -2px 0 10px #8d8d8d;
          box-shadow: -2px 0 10px #8d8d8d;
}

.btn {
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border: none;
  border-radius: 3px;
}

.btn-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21.1px;
  font-weight: 900;
  color: #ffffff;
}

.btn-text::before {
  content: url("../../assets/icons/watch-icon.svg");
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.watch {
  position: relative;
  background: url("../../assets/images/main-bg.png") no-repeat center;
  background-size: cover;
  min-height: 940px;
  overflow-x: hidden;
}

.watch-wrapper {
  max-width: 1620px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(210px, 12%) 1fr;
      grid-template-columns: minmax(210px, 12%) 1fr;
}

.watch__nav-links {
  position: absolute;
  bottom: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: 110px;
}

.watch__title {
  margin: 105px 0 37px;
  color: #fefefe;
  font-weight: 900;
  font-size: 5.563rem;
  line-height: 104.3px;
  max-width: 793px;
}

.how-wrapper {
  max-width: 790px;
  text-align: center;
}

.how__title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 48px;
  line-height: 56.25px;
  text-align: left;
}

.how_paragraph {
  margin: 30px auto;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.4px;
  text-align: left;
}

.how__footer {
  height: 413px;
  background: var(--secondary-bg-color);
}

.how__footer-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding-top: 100px;
}

.how__footer-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  text-align: center;
}

.how__footer-caption h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-text-color);
  margin: 15px 0;
}

.how__footer-caption p {
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  color: var(--secondary-text-color);
}

.watch__carousel {
  position: absolute;
  width: 80%;
  top: 406px;
  right: 0;
  left: 50.78125%;
  z-index: 0;
}

.watch__carousel::after {
  position: absolute;
  content: url("../../assets/images/h-line.svg");
  left: -9%;
  width: 100%;
  z-index: -1;
}

.carousel__slide {
  display: table;
  text-align: center;
}

.carousel__slide img {
  max-width: 140px;
  width: 100%;
}

.carousel__slide figcaption {
  position: absolute;
  opacity: 0;
}

.carousel__slide_active {
  position: relative;
  padding-bottom: 20px;
}

.carousel__slide_active img {
  max-width: 245px;
}

.carousel__slide_active::before {
  position: absolute;
  bottom: -20px;
  left: -10px;
  content: "0" attr(data-number) "/";
  width: 100%;
  color: #fefefe;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

.carousel__slide_active::after {
  cursor: pointer;
  position: absolute;
  display: block;
  bottom: -42.5px;
  left: calc(245px / 8);
  content: "";
  height: 10px;
  max-width: calc(245px / 8);
  width: 100%;
  background: #fefefe;
}

.carousel__slide_active figcaption {
  opacity: 1;
  bottom: 20px;
  display: block;
}

.carousel__slide_active figcaption p {
  text-align: left;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 0 28px 5px 23px;
}

.carousel__slide_active figcaption::before {
  position: absolute;
  left: 17px;
  bottom: -38px;
  text-align: center;
  content: "08";
  width: 100%;
  color: #828282;
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
}

.carousel__slide_active figcaption::after {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: -60px;
  content: "";
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  width: 100%;
}

.caption__btn {
  margin-bottom: 30px;
}

.watch__btn-text_caption {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #4bd8b5;
  margin-left: 18px;
}

.watch__btn-text_caption::before {
  content: url("../../assets/icons/watch-icon-2.svg");
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  margin-right: 0;
}

.donate__btn-text_caption {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 28px;
}

.donate__btn-text_caption::before {
  content: url("../../assets/icons/donate-icon.svg");
  margin-top: 8px;
  margin-right: 0;
}

.how__carousel-slides {
  overflow: hidden;
}

.how__carousel-slide img {
  max-width: 790px;
}

.how__pagination {
  position: relative;
  text-align: center;
  margin: 25px 0 50px;
}

.how__pagination::after {
  position: absolute;
  cursor: pointer;
  display: block;
  content: "";
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  width: 245px;
  left: calc(50% - 245px / 2);
  bottom: -20px;
  z-index: 0;
}

.how__pagination::before {
  cursor: pointer;
  position: absolute;
  display: block;
  left: calc(50% - 245px / 2);
  bottom: -21.5px;
  content: "";
  height: 10px;
  max-width: calc(245px / 4);
  width: 100%;
  background: var(--primary-text-color);
  z-index: 1;
}

.how__page {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

.how__all-pages {
  color: #828282;
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
}
/*# sourceMappingURL=style.css.map */