@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 83.33333%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-wrapper, .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper {
  background-color: #ffffff;
}

.logo {
  width: 60px;
}

.logo::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100vw;
  height: 26px;
  z-index: 1;
  left: 0;
  top: 0;
}

.logo__title {
  position: relative;
  text-transform: lowercase;
  color: #333333;
  font-size: 36px;
  font-weight: 900;
  width: 99%;
  margin-top: -45px;
}

.logo__title::after {
  position: absolute;
  content: "Online";
  font-size: 18px;
  letter-spacing: 1.3px;
  bottom: -13px;
  left: 0;
}

.navbar {
  width: 50%;
}

.nav-links {
  margin: 40px 0;
  padding: 0;
}

.nav-links__item {
  font-weight: 500;
}

.nav-links__link {
  color: #333333;
  font-size: 16px;
}

.nav-links__link:hover {
  -webkit-box-shadow: 0 2px #333333;
          box-shadow: 0 2px #333333;
  font-weight: 900;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav-links__link_active {
  cursor: default;
  padding-left: 1px;
  padding-right: 4px;
  -webkit-box-shadow: 0 2px #333333;
          box-shadow: 0 2px #333333;
  font-weight: 900;
}

.toggle-btn {
  width: 54px;
}

.theme-toggle {
  display: none;
}

.theme-label {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 190px;
  background: #f2f2f2;
  cursor: pointer;
}

.theme-label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #ffffff;
  -webkit-box-shadow: 2px 4px 15px rgba(5, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(5, 12, 70, 0.15);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.theme-label:hover::before {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background: #f5f5f5;
  -webkit-box-shadow: 2px 2px 15px #5e5e5e;
          box-shadow: 2px 2px 15px #5e5e5e;
}

.theme-toggle:checked + .theme-label::before {
  left: calc(100% - 25px);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  background: #1b1b1b;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.theme-toggle:checked + .theme-label:hover::before {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background: #333333;
  -webkit-box-shadow: 2px 2px 15px #5e5e5e;
          box-shadow: 2px 2px 15px #5e5e5e;
}

.theme-toggle:checked + .theme-label {
  -webkit-box-shadow: inset 0 0 0 18px #4f4f4f;
          box-shadow: inset 0 0 0 18px #4f4f4f;
}
/*# sourceMappingURL=style.css.map */