$primary-font: 'Roboto', sans-serif;

$colors: (
  'primary': (
    500: #2196f3,
    600: rgba(10, 207, 131, 0.5),
    700: rgba(242, 78, 30, 0.5),
  ),
  'neutral': (
    100: #ffffff,
    200: #f2f9fe,
    600: rgba(0, 0, 0, 0.05),
    700: rgba(0, 0, 0, 0.4),
    800: rgba(0, 0, 0, 0.5),
  ),
);

$primary-colors: map-get($colors, 'primary');

$neutral-colors: map-get($colors, 'neutral');

:root {
  --primary-color-500: #{map-get($primary-colors, 500)};
  --primary-color-600: #{map-get($primary-colors, 600)};
  --primary-color-700: #{map-get($primary-colors, 700)};
  --neutral-color-100: #{map-get($neutral-colors, 100)};
  --neutral-color-200: #{map-get($neutral-colors, 200)};
  --neutral-color-600: #{map-get($neutral-colors, 600)};
  --neutral-color-700: #{map-get($neutral-colors, 700)};
  --neutral-color-690: #{map-get($neutral-colors, 800)};
}
